<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        td{
            width: "100px";
            text-align: center;
        }
    </style>
</head>
<body>
    <form action="/login_ok" method="post">
        <table>
            <tr>
                <td>
                    ID:
                </td>
                <td>
                    <input type="text" name="id" id = "">
                </td>
            </tr>
            <tr>
                <td width="100">
                    PW:
                </td>
                <td>
                    <input type="password" name="pw" id = "">
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="제출">
                </td> 
            </tr>
        </table>
    </form>
</body>
</html>